
<script class="u-script" type="text/javascript" src="../static/js/upload.js" defer=""></script>
{% extends "index.html" %} {% block title %}Face Recognition{% endblock %} {% block
    content %}

<div>
    <p>
        The result after comparing images is: {{result_distance}}
        
        
    </p>
    
</div>
<div>
  <div class="row images-row">
    <div class="column">
      <img id="img_1" src="../static/imgs_for_model/notProcessed/processed/1/{{img1}}" alt="first-img" style="width:50%"/>
    </div>
    <div class="column">
      <img id="img_2" src="../static/imgs_for_model/notProcessed/processed/2/{{img2}}"  alt="first-img" style="width:50%"/>
    </div>
  </div>
</div>
{% endblock %}

