{% extends "index.html" %}
{% block title %} Home {% endblock %}
{% block content %}    
<section class="u-align-center u-clearfix u-white u-section-1" id="carousel_2028">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-image-1" src="../static/images/img.png" alt="" data-image-width="1000" data-image-height="478">
      <h1 class="u-text u-text-default u-text-grey-90 u-text-1">Quick &amp; Easy&nbsp;<br>Process
      </h1>
      <p class="u-text u-text-2">Check if&nbsp; two faces refers to the same person. We compare two faces and determine if they belong to the same person by giving a corresponding True/False value.<br>
        <br>
      </p>
      <a href="/uploadImg" class="u-active-grey-80 u-border-active-white u-border-hover-white u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-grey-80 u-radius-10 u-btn-1" target="_blank">TRY&nbsp;</a>
    </div>
  </section>
{% endblock %}   