{% extends "index.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign Up </h2>
  
        <!-- Sign up Form -->
        <form method = 'POST'>
          <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
          <input type="text" id="firstName" class="fadeIn second" name="firstName" placeholder="firstName">
          <input type="text" id="password1" class="fadeIn third" name="password1" placeholder="password">
          <input type="text" id="password2" class="fadeIn third" name="password2" placeholder="password(Confirm)">
          <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
  
      </div>
    </div>
    {% endblock %}